{% extends '../base.html' %}
{% block content %}
<div class="card-box mb-30">
	<div class="pd-20">

		<!-- FIRST ROW -->

		<div class="row">
			<div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#HED" aria-expanded="false" aria-controls="collapseExample">
			    H.E.D
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#HEN" aria-expanded="false" aria-controls="collapseExample">
			    H.E.N
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#HEDD" aria-expanded="false" aria-controls="collapseExample">
			    H.E.D.D
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#HEDN" aria-expanded="false" aria-controls="collapseExample">
			    H.E.D.N
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Vac. Comunes
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Vac. pagas
			  </button>
		  </div>
		</div>

		<!-- END FIRST ROW -->
		<br>

		<!-- SECOND ROW -->
		<div class="row">
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Primas
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Cesantias
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Incapacidad
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Lic. de mater.
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Lic. remunerada
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Lic. no remu.
			  </button>
		  </div>

		</div>

		<!-- END SECOND ROW -->

		<br>
		<!-- THIRD ROW -->

		<div class="row">
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Bonificacion
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Aux. salarial
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Huelga legal
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Otros conceptos
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Compensaciones
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Bonos epctv
			  </button>
		  </div>
		</div>

		<!-- END THIRD ROW -->
		<br>
		<!-- QUARTER ROW -->

		<div class="row">
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Comisiones
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Pago de terceros
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Anticipo nomina
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Dotaciones
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Apoyo a soste.
			  </button>
		  </div>
		  <div class="col-md-2">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			   	Teletrabajo
			  </button>
		  </div>
		</div>

		<!-- END QUARTER ROW -->
		<br>

		<!-- FIFTH ROW -->

		<div class="row">
		  <div class="col-md-3">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			    Retiro de la empresa
			  </button>
		  </div>
		  <div class="col-md-1">
			  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
			     Indemnizacion
			  </button>
		  </div>
		</div>

		<!-- END FIFTH ROW -->

	</div>
</div>
<br>




{% include '../datos payroll/hour_extra.html' %}





<br><br>
{% endblock %}