{% extends '../base.html' %}
{% block loading%}Cargando Listado Facturas...{% endblock %}
{% load static %}
{% block content %}

<div class="card-box mb-30">
	<div class="pd-20">
		<h4 class="text-blue h4">Listado de Facturas{{type_invoice}}</h4>
		<p class="mb-30" style="color:red;">La información se actualiza cada 15 segundos</p>
	</div>
	<div class="pb-20">
		<table id="exampletable" class="table stripe hover nowrap">
			<thead>
				<tr>
					<th class="table-plus datatable-nosort" style="width: 10%;">Numero</th>
					<th style="width: 25%;">Cliente</th>
					<th style="width: 10%;">Fecha</th>
					<th style="width: 25%;">Estado</th>
					<th style="width: 15%;">Total</th>
					<th class="datatable-nosort" style="width: 10%;">Action</th>
				</tr>
			</thead>
			<tbody class="father">
				{% for i in creditnote %}
					<tr>
						<td>
							{{i.consecutive}}
						</td>
						<td>
							{{i.client}}
						</td>
						<td>
							{{i.date}}
						</td>
						<td>
							{{i.state}}
						</td>
						<td>
							{{i.total}}
						</td>
						<td>
							<div class="dropdown">
								<a class="btn btn-link font-24 p-0 line-height-1 no-arrow dropdown-toggle" href="#" role="button" data-toggle="dropdown">
									<i class="dw dw-more"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-right dropdown-menu-icon-list">
									<a class="dropdown-item" href="{% url 'View_Invoice' i.consecutive %}"><i class="dw dw-eye"></i> Ver</a>
								</div>
							</div>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}